.edit-form {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  z-index: 1;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s, opacity 0.3s linear;
}

.edit-form::after {
  content: "";
  background-color: #000000;
  opacity: 0.5;
  z-index: 1;
  position: fixed;
  width: 100vw;
  height: 100vh;
}
