.foto-viewer__close-button {
  width: 58px;
  height: 58px;
  position: absolute;
  top: -49px;
  right: -49px;
  background-color: transparent;
  border: 0;
  background-image: url("../../../images/edit-form_close-icon.svg");
  background-repeat: no-repeat;
  background-size: cover;
  transform: rotate(90deg);
  transition: opacity 0.4s;
  cursor: pointer;
}

.foto-viewer__close-button:hover {
  opacity: 0.6;
}

.foto-viewer__close-button:focus {
  outline: none;
}

@media screen and (max-width: 425px) {
  .foto-viewer__close-button {
    right: -27px;
  }
}
